.tecnologia {
  &__title {
    @extend %icons-section__title;
  }

  &__contenedorAgencias {
    @extend %icons-section;
  }
  &__explicacionAgencias {
    //@extend %icons-section__content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  
    @include use-breakpoint("md") {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
  
    }
  }
  &__explicacionAgenciasApartado {
    //@extend %icons-section__item;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1rem;
    
  
    @include use-breakpoint("sm") {
      margin: auto;
      width: 75%;
  
    }
  
    @include use-breakpoint("md") {
      margin: 0;
      flex-direction: row;
      width: 50%;
  
    }



  }
  &__explicacionAgenciasApartadoTexto {
   //@extend %icons-section__item__body;
   display: flex; 
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
 
 
   @include use-breakpoint("sm") {
 
 
   }
 
   @include use-breakpoint("md") {
     width: 75%;
   }


  }
  &__titulo {
    //@extend %icons-section__item__title;
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 15px;
    
  }
  &__paragraph {
    //@extend %icons-section__item__paragraph;
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px
    
  }
  &__technologia {
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
    color: #ee3259;
  }
  &__user {
    @extend %icons-section__item__icon;
    @extend %icons-section__item__icon--1 ;

  }
  &__para {
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #0f2137;
  }
  &__happy {
    @extend %icons-section__item__icon;
    @extend %icons-section__item__icon--2 ;

  }
  &__para2 {
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #0f2137;
  }
  &__graphic {
    @extend %icons-section__item__icon;
    @extend %icons-section__item__icon--3 ;

  }
  &__para3 {
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #0f2137;
  }
  &__tool {
    @extend %icons-section__item__icon;
    @extend %icons-section__item__icon--4 ;

  }
  &__para4 {
    font-family: Walsheim, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    color: #0f2137;
  }
}
