%icons-section {
  width: 100% !important;
  margin-top: 100px;
  display: flex !important;
  flex-direction: column !important;
}

%icons-section__title {
  font-family: Walsheim, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0px;
  text-align: center;
  color: #0f2137;
}

%icons-section__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
}

$expand-item: "sm";

%icons-section__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 1rem;

  @include use-breakpoint($expand-item) {
    flex-direction: row;
    width: 50%;
  }
}

%icons-section__item__body {
  /* display: flex; */
  align-items: center;
  flex-direction: column;

  @include use-breakpoint($expand-item) {
    width: 75%;
  }
}

%icons-section__item__title {
  font-family: Walsheim, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

%icons-section__item__paragraph {
  font-family: Walsheim, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

%icons-section__item__icon {
  @extend %fluid-svg;
  color: white;
  fill: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 30px;

  svg {
    $size: 3rem;
    width: $size;
    height: $size;
  }
}

%icons-section__item__icon--1 {
  background: linear-gradient(41deg, #ea3a60 -5.57%, #d635a7 105.57%);
  box-shadow: 8px 8px 15px rgba(233, 24, 105, 0.15);
}

%icons-section__item__icon--2 {
  background: linear-gradient(41deg, #ff416c -4.02%, #ff4b2b 104.02%);
  box-shadow: 8px 8px 15px rgba(37, 198, 201, 0.15);
}

%icons-section__item__icon--3 {
  background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
  box-shadow: 8px 8px 15px rgba(255, 73, 55, 0.15);
}

%icons-section__item__icon--4 {
  background: linear-gradient(41deg, #f46b45 -4.02%, #eea849 104.02%);
  box-shadow: 8px 8px 15px rgba(239, 157, 72, 0.15);
}
